* {
  padding: 0;
  margin: 0;

  font-family: 'montserrat', sans-serif;
}

:root {
  --color-main: #fcb551;
  --color-highlight: #db8307;
  --nav-load-time: 350ms;
}

body {

  background-color: whitesmoke;
  height: 100vh;
  overflow-y: hidden;

}

nav {

  height: 10vh;
  width: 100%;

  background-color: var(--color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  animation: load-nav;
  animation-duration: var(--nav-load-time);
  animation-timing-function: ease-out;
}

nav>* {
  flex: 1;
}

nav .logo-container {
  height: 80%;

  box-sizing: border-box;
  padding-left: 0.8rem;
}

.logo-container .logo {
  height: 100%;
  width: 10vw;
  background-color: #fff;

  /* Text CSS not needed*/
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 600;
}


nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
}

nav ul li {
  flex: 1;
  transition: 150ms ease-in-out;
  display: grid;
  place-items: center;
  cursor: pointer;
}

nav ul li:hover {

  background-color: var(--color-highlight);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

main {
  animation: load-main;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-delay: 50ms;
}

.main-content {
  color: #fff;
  position: relative;

}

.main-content img {
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: -10000;
  filter: brightness(50%);
}

.main-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-size: 2rem;
}

.main-content div button {
  background-color: var(--color-main);
  border: 2px solid transparent;
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: 150ms ease-in;
  cursor: pointer;
}

.main-content div button:hover {
  background-color: var(--color-highlight);
  border-radius: 15px;
  scale: 1.15;
}

/* Animations */
@keyframes load-nav {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  80% {
    opacity: .5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load-main {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  80% {
    opacity: .5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
